[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/fortheusers/chesto.git
[submodule "libs/tinyhttp"]
	path = libs/tinyhttp
	url = https://github.com/ThatzOkay/tinyhttp-wiiu.git
[submodule "libs/librpxloader"]
	path = libs/librpxloader
	url = https://github.com/wiiu-env/librpxloader.git
[submodule "libs/spotifywebapi"]
	path = libs/spotifywebapi
	url = https://github.com/ThatzOkay/spotifywebapi-cpp
